*{
    padding:0;
    margin:0;
    /*border: 1px solid black*/
}

body{
    width:60%;
    margin-left:20%;
    height:100vh;
    border: 2px solid black;
}
.a1{
    text-align: center;
    align-content: center;
    width:100%;
    margin-top: 3%;
    
}
.a{
    font-size: 20px;
    font-weight: 300;
    padding: auto;
    margin: auto;
}
.b{
    font-size: 40px;
    font-weight: bold;
    animation: s 4s 1000ms infinite;
    padding:auto;
    margin: auto;
}

@keyframes s{
    0%{transform: scale(0.3);}
    100%{transform: scale(1);}
}

.c1{
    position: absolute;
    width:50px;
    height:50px;
    top:50%;
    left:30px;
    background-color: "#C495F0";
    border-radius: 35px;
}
